# CAR PRICE PREDICTION DATA COLLECTION

In [1]:
#importing required  liabraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#connecting web driver
driver=webdriver.Chrome(r'C:\Users\Ravishankar\Documents\chromedriver.exe')

In [3]:
#opening cardekho
driver.get("https://www.cardekho.com/")
time.sleep(2)

In [4]:
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/usedCars"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

#### collecting url for different cities

In [6]:
#Ahmedabad
Ahmedabad=driver.find_element(By.XPATH,'//li[@data-slug="/used-cars+in+ahmedabad"]/a').get_attribute('href')
driver.get(Ahmedabad)
time.sleep(2)

In [7]:
from tqdm import tqdm
for _ in tqdm(range(0,300)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 300/300 [08:50<00:00,  1.77s/it]

In [11]:
Car_url_ahmedabad = []
car_url_ahmedabad = driver.find_elements(By.XPATH,'//h3[@class="title"]/a')   
for j in tqdm(range(len(car_url_ahmedabad))):
    Car_url_ahmedabad.append(car_url_ahmedabad[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1480/1480 [00:52<00:00, 28.34it/s]

In [13]:
len(Car_url_ahmedabad)

1480

In [23]:
#Bangalore
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/used-cars+in+bangalore"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

In [24]:
from tqdm import tqdm
for _ in tqdm(range(0,500)):
    time.sleep(0.75)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 500/500 [15:10<00:00,  1.82s/it]

In [25]:
Car_url_Bangalore = []
car_url_Bangalore = driver.find_elements(By.XPATH,'//h3[@class="title"]/a')   
for j in tqdm(range(len(car_url_Bangalore))):
    Car_url_Bangalore.append(car_url_Bangalore[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1040/1040 [00:24<00:00, 43.10it/s]

In [26]:
len(Car_url_Bangalore)

1040

In [43]:
#Chennai
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/used-cars+in+chennai"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

In [44]:
from tqdm import tqdm
for _ in tqdm(range(0,800)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 800/800 [28:31<00:00,  2.14s/it]

In [45]:
Car_url_Chennai = []
car_url_Chennai = driver.find_elements(By.XPATH,'//h3[@class="title"]/a')   
for j in tqdm(range(len(car_url_Chennai))):
    Car_url_Chennai.append(car_url_Chennai[j].get_attribute('href'))
time.sleep(2)

100%|█████████████████████████████████████████████████████████████████████████████| 1580/1580 [00:13<00:00, 114.03it/s]

In [46]:
len(Car_url_Chennai)

1580

In [47]:
#Delhi-ncr
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/used-cars+in+delhi-ncr"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

In [33]:
from tqdm import tqdm
for _ in tqdm(range(0,500)):
    time.sleep(0.75)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 500/500 [16:44<00:00,  2.01s/it]

In [34]:
Car_url_Delhi = []
car_url_Delhi = driver.find_elements(By.XPATH,'//h3[@class="title"]/a')   
for j in tqdm(range(len(car_url_Delhi))):
    Car_url_Delhi.append(car_url_Delhi[j].get_attribute('href'))
time.sleep(2)

100%|█████████████████████████████████████████████████████████████████████████████| 1660/1660 [00:15<00:00, 107.69it/s]

In [57]:
len(Car_url_Delhi)

1660

In [53]:
#Hyderabad
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/used-cars+in+hyderabad"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

In [54]:
from tqdm import tqdm
for _ in tqdm(range(0,300)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 300/300 [08:54<00:00,  1.78s/it]

In [55]:
Car_url_Hyderabad = []
car_url_Hyderabad = driver.find_elements(By.XPATH,'//h3[@class="title"]/a')   
for j in tqdm(range(len(car_url_Hyderabad))):
    Car_url_Hyderabad.append(car_url_Hyderabad[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1620/1620 [00:34<00:00, 47.01it/s]

In [56]:
len(Car_url_Hyderabad)

1620

In [58]:
#Jaipur
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/used-cars+in+jaipur"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

In [59]:
from tqdm import tqdm
for _ in tqdm(range(0,300)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 300/300 [08:28<00:00,  1.70s/it]

In [60]:
Car_url_Jaipur = []
car_url_Jaipur = driver.find_elements(By.XPATH,'//h3[@class="title"]/a')   
for j in tqdm(range(len(car_url_Jaipur))):
    Car_url_Jaipur.append(car_url_Jaipur[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1200/1200 [00:23<00:00, 51.34it/s]

In [61]:
len(Car_url_Jaipur)

1200

In [62]:
Car_url=[]

In [63]:
Car_url = Car_url_ahmedabad + Car_url_Bangalore + Car_url_Chennai + Car_url_Delhi + Car_url_Hyderabad + Car_url_Jaipur

In [64]:
len(Car_url)

8580

In [65]:
#creating dataframe
Car_URL = pd.DataFrame({})
Car_URL['Urls'] = Car_url

In [66]:
#exporting to excel
Car_URL.to_excel('Car_url.xlsx', index = False)

In [2]:
#importing excel file containing url
df = pd.read_excel('Car_url.xlsx')

In [3]:
df.shape

(8580, 1)

In [4]:
df

                                                   Urls
0     https://www.cardekho.com/used-car-details/used...
1     https://www.cardekho.com/buy-used-car-details/...
2     https://www.cardekho.com/used-car-details/used...
3     https://www.cardekho.com/buy-used-car-details/...
4     https://www.cardekho.com/used-car-details/used...
...                                                 ...
8575  https://www.cardekho.com/used-car-details/used...
8576  https://www.cardekho.com/used-car-details/used...
8577  https://www.cardekho.com/used-car-details/used...
8578  https://www.cardekho.com/used-car-details/used...
8579  https://www.cardekho.com/used-car-details/used...

[8580 rows x 1 columns]

In [5]:
#connecting web driver
driver=webdriver.Chrome(r'C:\Users\Ravishankar\Documents\chromedriver.exe')

In [6]:
Location=[]
Model=[]
Registration_Year=[]
Fuel_Type=[]
Kms_Driven=[]
Ownership=[]
Transmission=[]
Seats=[]
Engine_Displacement=[]
Year_of_Manufacture=[]
Mileage=[]
Max_Power=[]
Wheel_Size=[]
Torque=[]
Price=[]

In [9]:
from tqdm import tqdm
for i in tqdm(df['Urls'][7605:8580]):
    driver.get(i)
    time.sleep(0.5)
    
    # Extracting Car location via xpath
    try :
        loc = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[2]/div[1]/div/div[1]')
        Location.append(loc.text)  
    except NoSuchElementException:
        pass
        
    #extracting Model via xpath    
    try :
        model = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[2]/div[1]/div/div[2]')
        Model.append(model.text)  
    except NoSuchElementException:
        pass 
        
   #extracting Registration_Year via xpath    
    
    try :
        reg = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[1]/div/div/span')
        Registration_Year.append(reg.text)  
    except NoSuchElementException:
        pass   
        
  #extracting Fuel_Type via xpath    
   
    try :
        fuel = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[3]/div/div/span')
        Fuel_Type.append(fuel.text)  
    except NoSuchElementException:
         pass  
        
  #extracting Kms_Driven via xpath    
    
    try :
        kms = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[5]/div/div/span')
        Kms_Driven.append(kms.text)  
    except NoSuchElementException:
         pass              
        
 #extracting Ownership via xpath    
    
    try :
        owner = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[7]/div/div/span')
        Ownership.append(owner.text)  
    except NoSuchElementException:
         pass 
        
#extracting Transmission via xpath    
    
    try :
        transmission = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[9]/div/div/span')
        Transmission.append(transmission.text)  
    except NoSuchElementException:
         pass  
        
#extracting Seats via xpath    
    
    try :
        seats = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[5]/ul/li[6]/div/div/span')
        Seats.append(seats.text)  
    except NoSuchElementException:
         pass  
        
#extracting Engine_Displacement via xpath    
    
    try :
        engine = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[8]/div/div/span')
        Engine_Displacement.append(engine.text)  
    except NoSuchElementException:
         pass  
        
#extracting Year_of_Manufacture via xpath    
    
    try :
        year = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[3]/ul/li[10]/div/div/span')
        Year_of_Manufacture.append(year.text)  
    except NoSuchElementException:
         pass 
        
#extracting Mileage via xpath    
    
    try :
        mileage = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[5]/ul/li[1]/div/div/span')
        Mileage.append(mileage.text)  
    except NoSuchElementException:
         pass         
        
#extracting Max_Power via xpath    
    
    try :
        power = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[5]/ul/li[3]/div/div/span')
        Max_Power.append(power.text)  
    except NoSuchElementException:
         pass   
        
#extracting Wheel_Size via xpath    
    
    try :
        wheel = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[5]/ul/li[5]/div/div/span')
        Wheel_Size.append(wheel.text)  
    except NoSuchElementException:
         pass  
        
#extracting Torque via xpath    
    
    try :
        torque = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[1]/div[5]/ul/li[4]/div/div/span')
        Torque.append(torque.text)  
    except NoSuchElementException:
         pass          
        
#extracting Price via xpath    
    
    try :
        price = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/div/div[1]/div[2]/div[1]/div/div[4]/span')
        Price.append(price.text)  
    except NoSuchElementException:
         pass

100%|████████████████████████████████████████████████████████████████████████████████| 975/975 [25:30<00:00,  1.57s/it]

In [13]:
driver.close()

In [14]:
data=list(zip(Location,Model,Registration_Year,Fuel_Type,Kms_Driven,Ownership,Transmission,Seats,Engine_Displacement,
              Year_of_Manufacture,Mileage,Max_Power,Wheel_Size,Torque,Price))

Car_Dataset=pd.DataFrame(data,columns=['Location','Model','Registration Year','Fuel Type','Kms Driven','Ownership',
                                       'Transmission','Seats','Engine Displacement', 'Manufacture year','Mileage',
                                       'Max_Power','Wheel_Size','Torque','Price'])

pd.set_option('display.max_columns', None)
Car_Dataset.head()

,Location,Model,Registration Year,Fuel Type,Kms Driven,Ownership,Transmission,Seats,Engine Displacement,Manufacture year,Mileage,Max_Power,Wheel_Size,Torque,Price
0,"Makarba, Ahmedabad",2015 Audi Q3 2.0 TDI,Oct 2015,Diesel,"65,000 Kms",First Owner,Automatic,5,1968 cc,2015,15.73 kmpl,174.33bhp,16,380Nm,₹ 17.25 Lakh
1,"Naroda, Ahmedabad",2012 Maruti Swift VDI,May 2013,Diesel,"70,598 Kms",First Owner,Manual,5,1248 cc,2012,22.9 kmpl,74bhp,14,190Nm,₹ 3.56 Lakh
2,"Sardarnagar, Ahmedabad",2014 Maruti Swift DDiS VDI,Nov 2014,Diesel,"66,000 Kms",First Owner,Manual,5,1248 cc,2014,28.4 kmpl,74bhp,5,190Nm,₹ 3.80 Lakh
3,"Naroda, Ahmedabad",2017 Hyundai Grand i10 1.2 Kappa Sportz BSIV,May 2017,Petrol,"47,975 Kms",Second Owner,Manual,5,1197 cc,2017,18.9 kmpl,81.86bhp,5,113.75nm,₹ 4.96 Lakh
4,"Thaltej, Ahmedabad",2015 Honda Brio S MT,Dec 2015,Petrol,"21,000 Kms",First Owner,Manual,5,1198 cc,2015,19.4 kmpl,86.8bhp,5,109Nm,₹ 3.90 Lakh

In [15]:
Car_Dataset.shape

(4933, 15)

In [16]:
#exporting to excel
Car_Dataset.to_excel('Car Dataset.xlsx',index=False)